.card{
    width: 16vw;
    height: 37vh;
    margin: 5vh 0 5vh 0;
}
.card img{
    width: 100%;
    height:60%
}
.text{
    text-decoration: none;
}
.link{
    text-decoration: none;
    color: black;
}

@media (max-width: 576px) {
    .card{
        width: 40vw;
        height: 30vh;
    }
}

@media  (min-width: 576px) and (max-width: 768px) {
   .card{
       height: 20vh;
   }
}