.carouselWrap{
    width: 60vw;
    height: 65vh;
    margin: 5vh 0 0 0;
}
.aboutUs{
    text-align: center;
    width: 70vw;
}



@media (max-width: 576px) {
   .carouselWrap{
       height: 45vh;
   }
}